td {
    border-bottom: solid 1px black;
    width: auto;
}

a {
    padding-right: 10px;
}

.invalid {
    border-color: red;
    background-color: orangered;
}

tr.select {
    background-color: lightskyblue;
}

table {
    width: 100%;
}

.leftButton {
    float: left;
}

.rightButton {
    float: right;
}

.content {
    width: 800px;
    margin: 0 auto;
    float: inherit;
    border: solid 1px black;
}

.control {
    width: auto;
    float: left;
    padding-right: 10px;
}

.footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

header {
    width: 800px;
    margin: 0 auto;
}