td {
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    width: auto;
}

a {
    padding-right: 10px;
}

.invalid {
    border-color: red;
    background-color: orangered;
}

tr.select {
    background-color: lightskyblue;
}

table {
    width: 100%;
}

.leftButton {
    float: left;
}

.rightButton {
    float: right;
}

div.content {
    width: 48%;
    height: content-box;
    float: left;
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
}

div.footer {
    position: fixed;
    height: 50px;
    bottom: 0;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}