table {
    border: solid 1px black;
}
td {
    border-left: solid 1px black;
}

.invalid {
    border-color: red;
}

.valid {
    border-color: green;
}

tr.select {
    background-color: lightskyblue;
}