<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">

    <servlet>
        <servlet-name>addSubscription</servlet-name>
        <servlet-class>by.training.taskdao.servlets.subscription.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addSubscription</servlet-name>
        <url-pattern>/addSub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteSubscription</servlet-name>
        <servlet-class>by.training.taskdao.servlets.subscription.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteSubscription</servlet-name>
        <url-pattern>/deleteSub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editSubscription</servlet-name>
        <servlet-class>by.training.taskdao.servlets.subscription.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editSubscription</servlet-name>
        <url-pattern>/editSub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getSubscription</servlet-name>
        <servlet-class>by.training.taskdao.servlets.subscription.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getSubscription</servlet-name>
        <url-pattern>/getSub</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllSubscription</servlet-name>
        <servlet-class>by.training.taskdao.servlets.subscription.GetAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllSubscription</servlet-name>
        <url-pattern>/getAllSub</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addPublication</servlet-name>
        <servlet-class>by.training.taskdao.servlets.publication.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPublication</servlet-name>
        <url-pattern>/addPublication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePublication</servlet-name>
        <servlet-class>by.training.taskdao.servlets.publication.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePublication</servlet-name>
        <url-pattern>/deletePublication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editPublication</servlet-name>
        <servlet-class>by.training.taskdao.servlets.publication.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editPublication</servlet-name>
        <url-pattern>/editPublication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getPublication</servlet-name>
        <servlet-class>by.training.taskdao.servlets.publication.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPublication</servlet-name>
        <url-pattern>/getPublication</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllPublication</servlet-name>
        <servlet-class>by.training.taskdao.servlets.publication.GetAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllPublication</servlet-name>
        <url-pattern>/getAllPublication</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addReader</servlet-name>
        <servlet-class>by.training.taskdao.servlets.reader.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addReader</servlet-name>
        <url-pattern>/addReader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deleteReader</servlet-name>
        <servlet-class>by.training.taskdao.servlets.reader.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteReader</servlet-name>
        <url-pattern>/deleteReader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editReader</servlet-name>
        <servlet-class>by.training.taskdao.servlets.reader.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editReader</servlet-name>
        <url-pattern>/editReader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getReader</servlet-name>
        <servlet-class>by.training.taskdao.servlets.reader.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getReader</servlet-name>
        <url-pattern>/getReader</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllReader</servlet-name>
        <servlet-class>by.training.taskdao.servlets.reader.GetAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllReader</servlet-name>
        <url-pattern>/getAllReader</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addPayment</servlet-name>
        <servlet-class>by.training.taskdao.servlets.payment.AddServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addPayment</servlet-name>
        <url-pattern>/addPayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>deletePayment</servlet-name>
        <servlet-class>by.training.taskdao.servlets.payment.DeleteServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deletePayment</servlet-name>
        <url-pattern>/deletePayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>editPayment</servlet-name>
        <servlet-class>by.training.taskdao.servlets.payment.EditServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>editPayment</servlet-name>
        <url-pattern>/editPayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getPayment</servlet-name>
        <servlet-class>by.training.taskdao.servlets.payment.GetServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getPayment</servlet-name>
        <url-pattern>/getPayment</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>getAllPayment</servlet-name>
        <servlet-class>by.training.taskdao.servlets.payment.GetAllServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>getAllPayment</servlet-name>
        <url-pattern>/getAllPayment</url-pattern>
    </servlet-mapping>

    <welcome-file-list>
        <welcome-file>subs.html</welcome-file>
    </welcome-file-list>
</web-app>