<input hidden type="text" id="subscriptionId">
<label id="readerSelectLabel"></label>
<label>
    <select id="readerSelect">
    </select><br>
</label>
<label id="publicationSelectLabel"></label>
<label>
    <select id="publicationSelect">
    </select><br>
</label>
<label id="paymentSelectLabel"></label>
<label>
    <select id="paymentSelect">
    </select><br>
</label>
<label id="startDateLabel"></label>
<label>
    <input type="date" id="startDateInput" value=""><br>
</label>
<label id="endDateLabel"></label>
<label>
    <input type="date" id="endDateInput" value=""><br>
</label>