<label>
    <input hidden type="text" id="publicationId" value="">
</label>
<label id="nameLabel"></label>
<label>
    <input type="text" id="name" value="" pattern="(\w+\s?\w+){1,}||([а-яА-Я]+\s?[а-яА-Я]){1,}">
</label><br>
<label id="authorLabel"></label>
<label>
    <input type="text" id="author" value="" pattern="(\w+\s?\w+){1,}||([а-яА-Я]+\s?[а-яА-Я]){1,}">
</label><br>
<label id="costLabel"></label>
<label>
    <input type="number" id="cost" value="1" min="1">
</label><br>
<label id="selectLanguageLabel"></label>
<label>
    <select id="languageId">
    </select><br>
</label><br>